#myName {
    color: rgb(28, 92, 137);
    text-align: center;
}

.header2 {
    width: 50%;
    padding: 5px;
    text-align: center;
    border: solid rgb(224, 223, 223);
    border-width: 0.5px;
    background-color: rgb(232, 240, 249);
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;

}

.navBar {
    width: 20%;
    padding: 5px;
    padding-left: 20px;
    background-color: rgb(232, 240, 249);
    float: right;
    position: absolute;
    top: 80px;
    right: 20px;
    box-sizing: border-box;
}

.box1 {
    width: 50%;
    padding: 5px;
    background-color: rgb(232, 240, 249);
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.box2 {
    width: 50%;
    padding: 5px;
    background-color: rgb(232, 240, 249);
    margin-left: auto;
    margin-top: 10px;
    margin-right: auto;
    box-sizing: border-box;
    text-align: center;
}

.subSection {
    font-weight: bold;
    font-style: italic;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}